<p><%= session.delete :error   if session[:error] %><p>
<p><%= session.delete :success if session[:success] %><p>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href='/<%= file %>'><%= file %></a>
      <a href='/<%= file %>/edit'>Edit</a>
    </li>
  <% end %>
</ul>
